{% extends "templates/base.html" %}
<!-- {% block title %}
 
{% endblock %} -->


{% block content %}


<div class="container form-width">
    <h4> Feedback Form</h4>
    <form id="quiz-form" class="common-card-style column-card">
        <div class="questions">

            {% for d in data.questions %}

            {% if d.type=='Choices' %}

            <div class="question active-question" data-name="9eaa2fe7b2" data-type="Choices" data-multi="0"
                data-qt-index="1">
                <div>
                    <div class="question-number">
                    </div>
                    <div class="question-text">
                        {{ d.idx }}: {{ d.question}}
                    </div>
                </div>
                <div class="mb-2">
                    <div class="custom-checkbox">
                        <label class="option-row">
                            <input class="option" value="A" type="radio" name="name%3F">
                            <div class="option-text">
                                <p>{{ d.option_1 }}</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="custom-checkbox">
                        <label class="option-row">
                            <input class="option" value="B" type="radio" name="name%3F">
                            <div class="option-text">
                                <p>{{ d.option_2 }}</p>
                            </div>
                        </label>
                    </div>
                </div>

                {% if d.option_3 %}
                <div class="mb-2">
                    <div class="custom-checkbox">
                        <label class="option-row">
                            <input class="option" value="A" type="radio" name="name%3F">
                            <div class="option-text">
                                <p>{{ d.option_3 }}</p>
                            </div>
                        </label>
                    </div>
                </div>
                {% endif %}

                {% if d.option_4 %}
                <div class="mb-2">
                    <div class="custom-checkbox">
                        <label class="option-row">
                            <input class="option" value="A" type="radio" name="name%3F">
                            <div class="option-text">
                                <p>{{ d.option_4 }}</p>
                            </div>
                        </label>
                    </div>
                </div>


<!-- 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Default radio
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Second default radio
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                    <label class="form-check-label" for="exampleRadios3">
                      Disabled radio
                    </label>
                  </div>

                  <div class="form-group">
                    <label for="formGroupExampleInput">Example label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Another label</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                  </div> -->

                {% endif %}

            </div>

            {% else %}
            <div class="question active-question" data-name="c695eac327" data-type="User Input" data-multi="0"
                data-qt-index="2">
                <div>
                    <div class="question-number">
                    </div>
                    <div class="question-text">
                        {{ d.idx }}: {{ d.question}}
                    </div>
                </div>
                <div class="control-input-wrapper">
                    <div class="control-input">
                        <textarea type="text" autocomplete="off"
                            class="input-with-feedback form-control bold possibility mt-4" style="height: 30px;"
                            spellcheck="false"></textarea>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


            <button class="btn btn-secondary btn-sm " id="summary">
                Submit
            </button>
            <button class="btn btn-secondary btn-sm mx-auto " id="try-again" data-quiz="test">
                Try Again
            </button>
        </div>
    </form>
</div>
{% endblock %}

<style>
    .form-width {
        width: 50%;
    }

    .column-card {
        flex-direction: column;
        padding: 1rem;
        height: 100%;
    }

    .common-card-style {
        display: flex;
        background: #FFFFFF;
        border-radius: var(--border-radius-md);
        position: relative;
        border: 1px solid var(--gray-300);
    }

    .question-text {
        margin: 0.5rem 0 1rem;
        font-weight: 600;
    }
    .option-row {
        display: flex;
        align-items: center;
        flex: 1;
        margin-bottom: 0;
        padding: 0.75rem;
        border: 1px solid var(--gray-200);
        border-radius: var(--border-radius-lg);
        cursor: pointer;
        background-color: var(--gray-100);
    }
</style>