{% extends "templates/web.html" %}

<div class="sidebar-column col-sm-{{ 2 }}">
    {% block page_sidebar %}
    {% include "templates/side-bar.html" %}
    {% endblock %}
</div>

{% block page_content %}

<h1>{{ title }}</h1>
<h3>{{ date }}</h3> 
<span>{{ event_time_0 }} to {{ event_time_1 }}</span>

{% if feedback %}
    <button><a href="{{frappe.utils.get_url()}}/feedback-form/{{name}}/edit">Provide feedback</a></button>
{% endif %}

{% if assignment %}
        <button><a href="{{frappe.utils.get_url()}}/assignment-submission/{{name}}/edit">Provide feedback</a></button>
{% endif %}

{% if is_learner %}
<button onclick="learner_registrant()">Register Now</button>
{% endif %}

<p>{{ description }}</p> 

<!-- sessions -->
{% if event_session %}
<h2>Event Sessions</h2>
    {% for session in event_session %}
    <div style="border:1px solid black;">
        <h3>{{ session.title }}</h3>
        <p> {{ session.description }}</p>
        <p>{{session.from_time}}</p>
    </div>
    {% endfor %}
{% endif %}

<!-- organizers -->

{% if organizers %}
<h2>Event Organizers</h2>
    <div style="display:flex; margin-right:20px;">
        {% for organizer in organizers %}
        <div style="margin-right:20px;">
            <p>{{organizer.full_name}}</p>
            <span>{{organizer.email}}</span> <br>
            <span>{{organizer.mobile}}</span> 
        </div>
        {% endfor %}
    </div>
{% endif %}

<script>
    frappe.ready(()=>{
        learner_registrant = () => {
            let url = window.location.href;
            let last = url.split('/')[4]

            frappe.call({
			method: 'de_tinkerhub.services.rest.learner_registrant',
			args: {
				'event': last,
				'learner' : frappe.session.user,
				'email' : frappe.session.user
			},
			callback: r => {

			}
		})
        }
    })
    
</script>


{% endblock %}

<!-- this is a sample default web page template -->
