{% extends "templates/web.html" %}

{% block page_content %}

<div class="product-container item-main">
    <div class="item-content">
        <div class="product-page-content" itemscope="" itemtype="http://schema.org/Product">
            <!-- Image, Description, Add to Cart -->
            <div class="row mb-5">
                <div class="col-md-4 h-100 d-flex mb-4">
                    <div class="border text-center rounded product-image" style="overflow: hidden;">
                        <img alt="Justice Indu Malhotra's Commentary on the Law of Arbitration" src="{{ image }}">
                    </div>

                    <!-- Simple image preview -->
                </div>

                <div class="col-md-7 product-details expand">
                    <div class="d-flex">
                        <!-- title -->
                        <div class="product-title col-11" itemprop="name">
                            {{ title }}
                        </div>
                        <div class="like-action-item-fp like-action  ml-2" data-item-code="8995">
                            <svg class="icon sm">
                                <use class="not-wished wish-icon" href="#icon-heart"></use>
                            </svg>
                        </div>

                    </div>



                    <div class="product-description" itemprop="description">

                        {{ description }}

                    </div>

                    <div class="mt-6 mb-5">
                        <div class="mb-4 d-flex">
                            <a href="/cart" class="btn btn-light btn-view-in-cart hidden mr-2 font-md" role="button">
                                View in Cart
                            </a>
                            <button data-item-code="8995" class="btn btn-primary btn-add-to-cart mr-2 w-30-40"
                                style="min-width: 135px !important;">
                                <span class="mr-2">
                                    <svg class="icon icon-md">
                                        <use href="#icon-assets"></use>
                                    </svg>
                                </span>
                                Enroll Now
                            </button>
                            <button class="btn btn-inquiry font-md w-30-40" style="min-width: 135px;"
                                data-item-code="WEB-ITM-0036">
                                Feedback From
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<style>
    .website-image {
        cursor: pointer;
    }

    .image-zoom-view {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1080;
    }

    .image-zoom-view img {
        max-height: 100%;
        max-width: 100%;
    }

    .image-zoom-view button {
        position: absolute;
        right: 3rem;
        top: 2rem;
    }

    .image-zoom-view svg {
        color: var(--white);
    }
</style>