{% extends "templates/web.html" %}

<div class="sidebar-column col-sm-{{ 2 }}">
    {% block page_sidebar %}
    {% include "templates/side-bar.html" %}
    {% endblock %}
</div>

{% block page_content %}

<h1>{{ title }}</h1>
<h3>{{ date }}</h3> 
<span>{{ event_time_0 }} to {{ event_time_1 }}</span>

{% if assignment %}
    <button><a href="{{frappe.utils.get_url()}}/assignment-submission/{{name}}/edit">Provide feedback</a></button>
{% endif %}

<button class="register-btn" onclick="show_form()">Register Now</button>

<p>{{ description }}</p> 

<!-- sessions -->
{% if event_session %}
<h2>Event Sessions</h2>
    {% for session in event_session %}
    <div style="border:1px solid black;">
        <h3>{{ session.title }}</h3>
        <p> {{ session.description }}</p>
        <p>{{session.from_time}}</p>
    </div>
    {% endfor %}
{% endif %}

<!-- organizers -->

{% if organizers %}
<h2>Event Organizers</h2>
    <div style="display:flex; margin-right:20px;">
        {% for organizer in organizers %}
        <div style="margin-right:20px;">
            <p>{{organizer.full_name}}</p>
            <span>{{organizer.email}}</span> <br>
            <span>{{organizer.mobile}}</span> 
        </div>
        {% endfor %}
    </div>
    
{% endif %}

{% endblock %}
{%- block script %}
    {{ include_script('controls.bundle.js') }}
{% endblock %}
<!-- this is a sample default web page template -->
