{%  extends "templates/web.html" %}

<div class="sidebar-column col-sm-{{ 2 }}">
    {% block page_sidebar %}
    {% include "templates/side-bar.html" %}
    {% endblock %}
</div>


{% block title %}{{ _("Upcoming Events") }}{% endblock %}

{% block page_content %}

{% if events %}
    <h1>Upcoming Events</h1>
    {%- for event in events %}     
        <div class="flex-row justify-content-between card w-50 p-3 my-5">
            <a class="text-dark" href="{{frappe.utils.get_url()}}/events/{{event.name}}"> {{ event.title }} - {{ event.starting_date }}
            </a>
            {% if event.host_college %} <span class="text-info">College Event</span> {% endif %}
        </div>
    {% endfor %}
{% else %}
    <h2>Exciting events are coming up!</h2>
{% endif %}

{% endblock %}
