{%  extends "templates/web.html" %}

{% block title %}{{ _("Past Events") }}{% endblock %}

<div class="sidebar-column col-sm-{{ 2 }}">
    {% block page_sidebar %}
    {% include "templates/side-bar.html" %}
    {% endblock %}
</div>

{% block page_content %}

<h1>Past Events</h1>
{% if past_events %}
<section>
    {%- for event in past_events %}     
        <div>
            <a href="{{frappe.utils.get_url()}}/events/{{event.name}}">{{ event.title }}</a>
        </div>
        
    {% endfor %}
</section>
{% endif %}

<h1>Registered Events</h1>
{% if registered_events %}
<section>
    {%- for event in registered_events %}     
        <div>
            <a href="{{frappe.utils.get_url()}}/events/{{event.name}}">{{ event.title }}</a>
        </div>
        
    {% endfor %}
</section>
{% endif %}

{% endblock %}
